* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
}

.hero {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 5px 10px 8px #888888;
  text-align: center;
  padding: 2rem;
}

p {
  margin: 1rem;
}

.image1 {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  width: 100vw;
  height: 100vh;
  background: url(./assets/img1.jpeg) no-repeat center center;
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
}
.image2 {
  color: red;
  width: 100vw;
  height: 50vh;
  background: url(./assets/img2.jpeg) no-repeat center center;
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
}
.image3 {
  color: red;
  width: 100vw;
  height: 50vh;
  background: url(./assets/img3.jpeg) no-repeat center center;
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
}
.image4 {
  color: red;
  width: 100vw;
  height: 50vh;
  background: url(./assets/img4.jpeg) no-repeat center center;
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
}

.down-arrow {
  position: absolute;
  color: tomato;
  bottom: 100px;
  font-size: 3rem;
  font-weight: bolder;
  /* transform: rotate(90deg); */
  animation: going-down 0.7s infinite ease-in-out;
}

@keyframes going-down {
  0% {
    bottom: 100px;
  }
  100% {
    bottom: 10px;
    color: cyan;
  }
}

article {
  width: 80%;
  margin: 2rem auto;
}

/* p margin left just overwrriten */
p {
  margin-left: 0;
}

.image2,
.image3,
.image4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  text-transform: uppercase;
  color: black;
  background: rgb(249, 247, 247, 0.6);
  padding: 10px 15px;
  font-weight: bolder;
  border-radius: 5px;
  box-shadow: 5px 10px 8px gold;
  letter-spacing: 1rem;
  backdrop-filter: blur(5px);
}
